headers:
  all:
    request:
      - propagate:
          named: "x-user-id"
cors:
  allow_any_origin: true
include_subgraph_errors:
  all: true
rhai:
  scripts: "./router-config/scripts"
  main: "main.rhai"
sandbox:
  enabled: true
homepage:
  enabled: false
supergraph:
  introspection: true
subscription:
  mode:
    passthrough:
      all: # The router uses these subscription settings UNLESS overridden per-subgraph
        path: /subscription # The URL path to use for subgraph subscription endpoints (Default: /ws)
